html {
    width: 100%;
    height: 100%;
}

body {
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
}

/*nav*/
header {
    background-color: black;
    opacity: 0.8;
    justify-content: center;
    width: 100%;
}

header > * {
    display: inline-block;
    margin: auto 15px;
}

h1 {
    color: white;
    
}

mark {
    background-color: black;
    color: purple;
}

ul {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 20px;;
}

/*main*/
main {
    width: 100%;
}
h2{
    text-align: center;
    font-size:30px;
}

#missLabel{
    margin-bottom:0;
}
.mission
{ width: 60%;
    height:20%;
    display:inline-flex;
    margin-left: 20%;
    font-size: 1.4rem;
    align-items: center;
    margin-bottom: 0;
   
}

#missState{
    width: 60%;
    padding-left: 20px;
    padding-left: 20px;
    margin-left: 15px;
    float: left;
    background-color: lightgray;
    
  }
#sharing{
height:67.5%;
    width:40%;
    
}
.story{
    width:100%;
    margin-top:0;
}
#storyText{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:80px;
    padding-right:80px;
    text-align: center;
    font-size: 18px;
    background-color: lightgray;
    width:60%;
    margin-left:15%;
    font-size:18px;
    
}

#core{
    text-align: center;
    margin-top:30px;
    margin-bottom:0px;
}
#commIMG {
    border-radius:550px;
    margin-right:20px;
    height:50%;
    width:50%;
   
}
h3{
    font-size:22px;
}
article{ width: 90%;
    display:inline-flex;
    margin: 40px;
}

aside{
    float: right;
    font-style: italic;
    background-color: lightgray;
    padding:15px;
    
}
.teamPicBar{
    display:inline-flex;
    width:100%;
    justify-content: space-between;
    text-align: center;
    position: relative;
    margin:1px;

}

.teamPics{
    height:400px;
    width:100%;
    border-radius: 300px;
}
.picName{
    font-size: 20px;
    font-weight: 800;
}

/*footer*/
footer {
    width:100%;
    background-color: purple;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    margin-top: 60px;
}

footer > ul {
    display: flex;
    flex-direction: column;
}

footer ul > li:nth-child(1) {
    font-weight: bold;
    margin-bottom: 10px;
}