html {
    width: 100%;
    height: 100%;
}

body {
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
}

/*nav*/
header {
    background-color: black;
    opacity: 0.8;
    justify-content: center;
    width: 100%;
}

header > * {
    display: inline-block;
    margin: auto 15px;
}

h1 {
    color: white;
    
}

mark {
    background-color: black;
    color: purple;
}

ul {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 20px;;
}

/*main*/
main {
    width: 100%;
}
h2{
    text-align: center;
    font-size:30px;
}

#missLabel{
    margin-bottom:0;
}
.mission
{ width: 90%;
    display:inline-flex;
    margin: 20px;
    font-size: 22px;
    justify-content: center;
}

#missState{
    width: 40%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    background-color: lightgray;
  }
#sharing{
    height:200px;
    
}

#core{
    text-align: center;
}
#commIMG {
    border-radius:550px;
    margin-right:20px;
   
}

article{ width: 90%;
    display:inline-flex;
    margin: 40px;
}

aside{
    float: right;
    font-style: italic;
    background-color: lightgray;
    padding:15px;
}



/*footer*/
footer {
    width:100%;
    background-color: purple;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

footer > ul {
    display: flex;
    flex-direction: column;
}

footer ul > li:nth-child(1) {
    font-weight: bold;
    margin-bottom: 10px;
}