@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono&display=swap');

html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
}

/*nav*/
header {
    background-color: black;
    opacity: 0.8;
    width: 100%;
    display:flex;
}

header > * {
    display: inline-block;
    margin: auto 15px;
}

h1 {
    color: white
}

mark {
    background-color: inherit;
    color: purple
}

ul {
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 20px;;
}

nav li:after {
    content: "";
    position: relative;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
  }
nav li:hover::after {
    width: 100%;
    height: 1px;
    background-color: purple;
  }

/*footer*/
footer {
    width:100%;
    background-color: purple;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

footer > ul {
    display: flex;
    flex-direction: column;
}

footer ul > li:nth-child(1) {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        flex-direction: column;
    }
    header > h1, header > nav, nav > ul {
        text-align: center;
        justify-content: center;
        padding: 0;
    }
}