html {
    width: 100%;
    height: 100%;
}

body {
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

/*nav*/
header {
    background-color: black;
    opacity: 0.8;
    justify-content: center;
    width: 100%;
}

header > * {
    display: inline-block;
    margin: auto 15px;
}

h1 {
    color: white
}

mark {
    background-color: black;
    color: purple
}

ul {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 20px;;
}

/*main*/
main {
    width: 100%;
}
/*footer*/
footer {
    width:100%;
    background-color: purple;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

footer > ul {
    display: flex;
    flex-direction: column;
}

footer ul > li:nth-child(1) {
    font-weight: bold;
    margin-bottom: 10px;
}