@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Mono&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: rgb(33, 33, 33);
}

.image {
    width: 100%;
}

.image-container {
    position: relative;
    display: inline-block;
}
  
.image-container img {
    display: block;
    width: 100%;
    height: 0 auto;
    filter: blur(3.5px);
}
  
.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 5px 10px; 
    font-size: 30px; 
    text-align: center;
}

.overlay-text-2 {
    position: absolute;
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;  
    font-size: 18px; 
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    height: 350px;
    padding: 30px;
    margin: 20px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.text {
    text-align: center;
    color: white;
}

.item {
    width: 470px;
    border: 2px solid white;
    color: white;
    background-color: purple;
    border-radius: 20%;
}

.item-2 {
    width: 470px;
    border: 2px solid white;
    color: white;
    background-color: purple;
    border-radius: 20%;
}

.item:hover {
    box-shadow: 8px 8px 8px 8px rgb(255, 255, 255, 0.5);
    cursor: pointer;
}

.item-2:hover {
    box-shadow: 8px 8px 8px 8px rgb(255, 255, 255, 0.5);
    cursor: pointer;
}

.tag {
    background-color: white;
    border: 1px solid black;
    color: purple;
}

section {
    display: flex;
}

form {
    margin-bottom: 50px;
    margin-left: 440px;
    width: 800px;
    padding: 30px;
    border-radius: 1em;
}
.legend_tag {
    background-color: white;
}
  
label {
    width: 100px;
    padding-left: 230px;
    padding-top: 5px;
    color: purple;
}
  
input {
    width: 200px;
    border: 1px solid #999;
    margin: 10px;
    cursor: pointer;
    color: purple;
}

input:hover {
    background-color: gray;
}

#msg:hover {
    background-color: gray;
    cursor: pointer;
    color: purple;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 170px;
    border-radius: 20%;
} 

 .logo-2 {
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 20.4cm;
    margin: 0px 0px;
} 

@media screen and (max-width: 767px){
    footer, header, main {
    }
    header, nav {
        display: inline;
        justify-content: center;
        opacity: 0.8;
        width: 100%;
        height: 55.6px;
    }
    ul{
        margin-left: 41px;
        margin-top: 0px;
        padding-bottom: 25px;
    }
    .logo-2 {
        position: absolute;
        top: 7px;
        width: 70px;
        height: 50px;
    }
    .overlay-text{
        font-size: 20px;
    }
    .overlay-text-2 {
        position: absolute;
        top: 70%; 
        left: 50%; 
        font-size: 15px; 
        text-align: center;
    }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 40px;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    form {
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 50px;
    }
    label {
        padding-left: 70px;
    }
    footer {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    footer, header, main {
    }
    header, nav {
        display: inline;
        justify-content: center;
        opacity: 0.8;
        width: 100%;
        height: 55.6px;
    }
    ul{
     margin-left: 40px;
     margin-top: 0px;
     margin-bottom: 10px;
    }
    .logo-2 {
        position: absolute;
        top: 3px;
        width: 80px;
        height: 60px;
    }
    .overlay-text{
        font-size: 30px;
    }
    .overlay-text-2 {
        position: absolute;
        top: 70%; 
        left: 50%; 
        font-size: 20px; 
        text-align: center;
    }
    main {
        width: 100%;
    }
    .flex-container {
        width: 100%;
        height: 400px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .legend_tag {
        width: 300px;
    }
    fieldset {
        display: flex;
        flex-direction: column;
    }
    form {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 50px;
    }
    footer {
        width: 100%;
    }
}

@media screen and (min-width: 1024px){
    footer, header, main {
    }
    header, nav {
        display: inline;
        justify-content: center;
        opacity: 0.8;
        width: 100%;
        height: 56.6px;
    }
    ul{
     margin-left: 40px;
     margin-top: 0px;
    }
    .logo-2 {
        position: absolute;
        top: 3px;
        width: 80px;
        height: 60px;
    }
    main {
        width: 100%;
    }
    .legend_tag {
        width: 600px;
    }
    fieldset {
        display: flex;
        flex-direction: column;
    }
    form {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-bottom: 50px;
    }
    footer {
        width: 100%;
    }
}